.page-header{
    padding-top: 10px;
}
.center{
    width: 150px;
    margin: 40px auto;

}

.input-group-volume{
    width: 130px;
}

#form-del{
    display: none;
}
.btn-del{
    margin-right: 10px;
}